<script src="/socket.io/socket.io.js"></script>
<!--[if lte IE 8]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
<div id="div_canvas">
  <canvas id="canvas_player">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour ou l'activer pour jouer.</canvas>
  <canvas id="canvas_background"></canvas>
</div>

<div id="div_players">
  <h3>Joueurs :</h3>
  <ol></ol>
</div>